<h1>New questionnaire</h1>

<%= render "form", questionnaire: @questionnaire %>

<div class="btn-group">
  <%= link_to "Back to questionnaires", questionnaires_path, class: 'btn btn-secondary' %>
</div>
